/* NCP */

  body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    background-color: #111827 !important;
    color: #fff !important;
  }

  .sidebar {
    width: 10%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #1f2937; 
    padding: 1%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .sidebar a {
    color: #d1d5db;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    margin: 1% 0;
    padding: 5%;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }

  .sidebar a:hover {
    background-color: #374151;
    color: #fff;
  }

  .btn{ 
    background: #e2e8f0 !important;
    text-decoration: none;
    color: black !important;
    padding: 0.7em;
    border-radius: 8px;
  }

  table {
    width: 100%;
    margin-top: 2%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    color: #d1d5db !important;
  }

  th, td {
    text-align: left;
    border-bottom: 1px solid #e2e8f0 !important;
  }

  thead {
    background: #1f2937 !important;
    font-weight: 600;
  }

  .form-select {
    margin-bottom: 0.5%;
  }

  
