/* NCP */

.bg-secondary, .bg-primary, .btn-primary, .card-header {
    background-color: #5E3023 !important;
    border: none;
    color: white;
}

.btn-danger {
    background-color: #DAB49D;
    color: #5E3023;
    border: none;
    margin-bottom: 0.7rem;
}

.dropdown-toggle {
    background-color: #5E3023 !important;
    border: none;
    font-weight: 600;
    padding: 8px;
}

.dropdown-menu {
    background-color: #DAB49D;
}

#btn-cart {
    margin: 0.7rem;
}

.navbar-brand {
    padding: 0.7rem;
}

nav{
    font-weight: 500;
}

body {
    background-color: #895737;
}

.card, .from {
    background-color: #C08552;
}

.search {
    margin-bottom: 0.7rem;
}

.form-select{
    background-color: #C08552;
    border-color: #5E3023;
    color: #5E3023;
    width: 20%;
}

.form-control{
    background-color: #C08552;
    border-color: #5E3023;
    width: 95%;
}

.form-control::placeholder {
    color: #5E3023;
}

.custom-file-input {
    color: #5E3023;
}

.card-img-top {
    width: 100%;  
    height: 200px; 
    object-fit: cover; 
}

.img-fluid {
    width: 100%;  
    height: 400px; 
    object-fit: cover; 
}

#quantity {
    border-radius: 5px;
    border: none;
    padding: 4px;
    background-color: #DAB49D;
    margin-bottom: 0.7rem;
}

h4, h3, h2, p, li, td, th, #quantity-label {
    color: #FFF2E1;
}

.home {
    display: flex;
    flex-direction: row;
}

#row {
    margin-right: 3rem;
}

#random {
    background-color: #5E3023;
    color: white;
    margin-bottom: 0.7rem;
}

#sort {
    background-color: #DAB49D;
    color: #5E3023;
    margin-left: 0.7rem;
}